
@{
    ViewBag.Title = "ListBadReport";
    Layout = "~/Views/MasterPage/Main.cshtml";
}
<head>
    <style>

        #Info {
            margin: 25px;
            background-color: white;
            border: 1px solid #c1b5b5;
            border-radius: 5px;
        }

        .btn {
            border: 1px solid #c1b5b5;
        }

        .qd {
            width: 70px;
        }

        .ipt {
            width: 180px;
        }

        .GaoJiChaXun {
            border: 1px solid #c1b5b5;
            padding: 15px;
            margin: 2px 6px 15px;
            border-radius: 5px;
        }

        .ChaKanBiaoTi {
            border: 1px solid #c1b5b5;
            background: #3a3939;
            padding: 5px 0px;
        }

        .XinZenChanPingDiBu {
            background-color: #d7d3d3;
            margin-top: -20px;
            height: 35px;
        }

        .InfoGDT {
            display: block;
            height: 100px;
            overflow-y: scroll;
        }

            .BTGDT, .InfoGDT tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }
        /*滚动条默认宽度是16px 将thead的宽度减16px*/
        .BTGDT {
            width: calc( 100% - 1em);
        }

        /*入库单审核*/
        #personal_1 {
            display: none;
            width: 680px;
            /*height: 400px;*/
            position: absolute;
            top: 50px;
            left: 250px;
            z-index: 2;
            background: white;
            border: 1px solid #ddd;
        }

        .first, .last {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            width: 50px;
            height: 30px;
            padding: 2px 10px;
            margin-left: -5px;
        }

        .up, .next {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            width: 60px;
            height: 30px;
            padding: 2px;
            margin-left: -5px;
        }

        .PageIndex {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            width: 30px;
            height: 30px;
            padding: 2px 10px;
            margin-left: -5px;
        }

        .go {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            width: 40px;
            height: 30px;
            padding: 2px;
            margin-left: -5px;
        }


        #o {
            width: 100%;
            height: 100%;
            opacity: 0.1;
            display: none;
            position: absolute;
            z-index: 1;
            background-color: gainsboro;
        }

        /*查看明细*/
        #p, #personal_1 {
            display: none;
            width: 680px;
            /*height: 300px;*/
            position: absolute;
            top: 100px;
            left: 250px;
            z-index: 2;
            background: white;
            border: 1px solid #ddd;
        }
    </style>
</head>
<div class="menuBar" style="margin-bottom:15px;">
    <div style="padding-top:10px;padding-left:30px;">
        <img src="../../Image/fangzi01-copy.png" style="width:13px;height:10px;" />
        <a href="javascript:void(0);" style="margin-top:20px;">首页</a>
        <img src="~/Image/xiangyou.png" width="10" height="10" />
        <a href="#" style="margin-top:20px;">仓库作业</a>
        <img src="~/Image/xiangyou.png" width="10" height="10" />
        <a href="#" style="margin-top:20px;">报损管理</a>
    </div>
</div>
<div class="menuContent">
    <div id="Info" class="container">
        <div style="height:40px;background-color:#eeeeee;border-bottom:1px solid #ddd;width: 1158px;margin-left: -15px;">
            <img src="~/Image/diqiu.png" style="float: left;margin:12px 0px 10px 20px" />
            <span style="margin-top:10px;float: left;font-weight: bold;">报损管理</span>
        </div>
        <div class="row">
            <div class="col-md-4 margin-bottom-10" style="margin:8px;">
                <div class="btn-group">
                    <button class="btn  btnQuery" type="button" name="suoyou" value="所有">所有</button>
                    <button class="btn  btnQuery" type="button" name="dsh" value="待审核">待审核</button>
                    <button class="btn  btnQuery" type="button" name="shtg" value="审核通过">审核通过</button>
                    <button class="btn  btnQuery" type="button" name="shsb" value="审核失败">审核失败</button>
                </div>
            </div>
            <div class="col-md-3 navbar-right" style="margin:8px;padding:0px;">
                <button class="btn btn-primary qd" onclick="insertInStorage();" type="button">新增</button>
                <button class="btn btn-danger qd" type="button" id="del">删除</button>
                <button class="btn btn-info qd" type="button">导出</button>
            </div>
        </div>
        @*条件查询*@
        <div class="row" style="padding:5px;">
            <div class="col-md-2 form-group form-inline">
                <input class="form-control" name="BadNum" type="text" placeholder="请输入报损单号" />
            </div>
            <div class="col-md-5 form-group form-inline">
                <label class="control-label">时间</label>
                <input type="date" name="State" value="2020-02-03" class="form-control" style="width:150px;" /> 到 <input type="date" name="End" value="2020-05-16" class="form-control" style="width:150px;" />
            </div>
            <div class="col-md-3 form-group form-inline" style="margin-left:-90px;">
                <button class="btn btn-primary btnQuery" type="button" style="width: 70px;">搜索</button>
            </div>
        </div>
        @*表内容查询*@
        <table id="zhubiao" class="table table-bordered table-hover table-responsive" style="table-layout:fixed;">
            <thead>
                <tr>
                    <th style="width:30px"><input type="checkbox" id="chkAll"  /></th>
                    <th>单据编号</th>
                    <th>报损类型</th>
                    <th>报损数量</th>
                    <th>状态</th>
                    <th>制单人</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        @*分页*@
        <div class="form-inline" style="margin: 10px 0px 0px 640px;padding-bottom: 10px;">
            <button class="first" type="button" name="first" style="background-color: #f9f9f9;border: 1px solid #ddd;width: 60px;height: 30px;padding: 2px 10px;">首页</button>
            <button class="up" type="button" name="up">上一页</button>
            <input class="PageIndex" name="PageIndex" type="text" value="1" />
            <button class="go" type="button" name="go">GO</button>
            <button class="next" type="button" name="next">下一页</button>
            <button class="last" type="button" name="last">尾页</button>
            <label id="fenyeshu">当前页是第页,共计条/页</label>
        </div>
    </div>
</div>

<div id="o"></div>
@*查看操作*@
<div id="p">
    <div class="container">
        <div class="row ChaKanBiaoTi">
            <div class="col-md-6">
                <span style="color:white" id="mc">报损单明细</span>
            </div>
            <div class="col-md-6 text-right">
                <a href="javascript:ChaKanGuanBi()" title="关闭"><img style="background-color:white;" src="~/Image/cha.png" /></a>
            </div>
        </div>
        <div class="row ChaKanZhuTi">
            <table class="table table-bordered table-responsive chakan">
                <tbody>
                </tbody>
            </table>
            <br />
            <table class="table table-bordered table-hover table-responsive XiangXi" style="table-layout:fixed;">
                <thead class="BTGDT">
                    <tr>
                        <th>产品名称</th>
                        <th>产品条码</th>
                        <th>规格</th>
                        <th>仓库库位</th>
                        <th>报损数量</th>
                    </tr>
                </thead>
                <tbody class="InfoGDT">
                </tbody>
            </table>
            <div class="XinZenChanPingDiBu">
                <div class="col-md-12 text-right">
                    <button style="margin-top: 3px;" onclick="ChaKanGuanBi();">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*审核确认*@
<div id="personal_1">
    <div class="container">
        <div class="row ChaKanBiaoTi">
            <div class="col-md-6">
                <span style="color:white" id="mc">入库单审核</span>
            </div>
            <div class="col-md-6 text-right">
                <a href="javascript:ChaKanGuanBi();" title="关闭"><img style="background-color:white;" src="~/Image/cha.png" /></a>
            </div>
        </div>
        <div class="row ChaKanZhuTi">
            <table class="table table-bordered table-responsive " id="chakan">
                <tbody>
                </tbody>
            </table>
            <br />
            <table class="table table-bordered table-hover table-responsive " id="XiangXi" style="table-layout:fixed;">
                <thead class="BTGDT">
                    <tr>
                        <th>产品名称</th>
                        <th>产品条码</th>
                        <th>仓库库位</th>
                        <th>报损库位</th>
                        <th>报损数量</th>
                    </tr>
                </thead>
                <tbody class="InfoGDT">
                    <tr class="remove"></tr>
                </tbody>
            </table>
        </div>
        <div class="row XinZenChanPingDiBu">
            <div class="col-md-12 text-right" style="margin-top: 3px;">
                <button class="btnUpdateStatus" name="shtg" type="button">审核通过</button>&nbsp;
                <button class="btnUpdateStatus" name="shsb" type="button">审核不通过</button>&nbsp;
                <button onclick="ChaKanGuanBi();">关闭</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    var pageIndexvalue = 1;//提取当前页为全局变量
    var ztvalue = "";
    $(function () {
        $("#GJSS").click(function () {
            $(".GaoJiChaXun").slideToggle();
        });
        $(".btnClose").click(function () {
            $("#personal_1").hide();
        });
        //状态按钮
        $("[name=suoyou]").click(function () {
            ztvalue = "";
        });
        $("[name=dsh]").click(function () {
            ztvalue = "待审核";
        });
        $("[name=shtg]").click(function () {
            ztvalue = "审核通过";
        });
        $("[name=shsb]").click(function () {
            ztvalue = "审核失败";
        });
        //分页按钮
        $("[name=first]").click(function () {
            bindData(1);
        });
        $("[name=up]").click(function () {
            pageIndexvalue = parseInt($("[name=PageIndex]").val()) - 1;
            bindData(pageIndexvalue);
        });
        $("[name=go]").click(function () {
            pageIndexvalue = parseInt($("[name=PageIndex]").val());
            bindData(pageIndexvalue);
        });
        $("[name=next]").click(function () {
            pageIndexvalue = parseInt($("[name=PageIndex]").val()) + 1;
            bindData(pageIndexvalue);
        });
        $("[name=last]").click(function () {
            pageIndexvalue = 99999999;
            bindData(pageIndexvalue);
        });

        $(".btnQuery").click(function () {
            bindData(pageIndexvalue);
        });
        $(".btnUpdateStatus").click(function () {
            UpdateStatus();
        });
        bindData(1);
        
        //全选加事件
        $("#chkAll").click(function () {
            var f = $(this).prop("checked");	 //获取自己的
            $(".ck").prop("checked", f);
        });

        //删除
        $("#del").click(function () {
            var a = $("tbody input:checked").length;
            if (a == 0) {
                alert("请选择要删除的记录");
            } else {
                var b = confirm("您确定要删除选中的" + a + "条记录吗");
                if (b == true) {
                    var text = $("tbody input:checkbox:checked").map(function (index, elem) {
                        return $(elem).val();
                    }).get().join(',');
                    //alert("选中的checkbox的值为：" + text);
                    var arr = text.split(',');
                    var str = [];
                    for (var i = 0; i < arr.length; i++) {
                        var list = {};
                        list.Id = arr[i];
                        str.push(list);
                    }
                    //alert(JSON.stringify(str));
                    $.ajax({
                        url: "@Url.Action("DeleteOther")",
                        data: { list: str },
                        dataType: "json",
                        type: "post",
                        success: function (result) {
                            alert(result);
                            bindData(1);
                        }
                    });
                }
            }
        });
    });

    //修改审核状态
    function UpdateStatus() {
        var ids = $("[name=xgztid]").val();
        $.ajax({
            url: "@Url.Action("UpdtStatus")",
            data: { status: ztvalue, Id: ids },
            dataType: "json",
            type: "get",
            success: function (result) {
                bindData(1);
                ChaKanGuanBi();
            }
        });
    };

    //报损管理主页查询
    function bindData(pageIndexvalue) {
        var BadNumvalue = $("[name=BadNum]").val();
        var Statevalue = $("[name=State]").val();
        var Endvalue = $("[name=End]").val();
        $.ajax({
            url: "@Url.Action("ListAjax")",
            data: { zt: ztvalue, BadNum: BadNumvalue, state: Statevalue, end: Endvalue,pageIndex: pageIndexvalue},
            dataType: "json",
            type: "get",
            success: function (result) {
                $("#zhubiao tr:gt(0)").remove();
                $("[name=PageIndex]").val(result.PageIndex);
                $.each(result.BadReportInfo, function (index, value) {
                    var str = "<tr>";
                    str += "<td><input type='checkbox' class='ck' value='" + value.id + "' /></td>";
                    str += "<td>" + value.BadNum + "</td>";
                    str += "<td>" + value.BadTypeId + "</td>";
                    str += "<td>" + value.Num + "</td>";
                    str += "<td>" + value.Status + "</td>";
                    str += "<td>" + value.AuditUser + "</td>";
                    str += "<td>" + value.AuditTime + "</td>";
                    str += "<td>";
                    if (value.Status!="审核通过") {
                        str += "<a title='编辑' href='/BadReports/UpdtList/" + value.id + "'><img src='../Image/Write.png' /></a>"
                    }
                    str += "<a title='删除' href='javascript:Delete(" + value.id + ");'><img src='../Image/cha.png' /></a>"
                    str += "<a title='查看' href='javascript:ChaKan(" + value.id + ")'><img src='../Image/chakan.png' style='margin-top:2px;width:22px' /></a>"
                    if (value.Status != "审核通过") {
                        str += "<a title='审核' href='javascript:Shenhe(" + value.id + ")'><img src='../Image/dui.png' style='width:21px' /></a>"
                    }
                    str += "</td>";
                    str += "</tr>";
                    $("#zhubiao tbody").append(str);
                });
                $("#fenyeshu").text("当前页是第" + result.PageIndex + "页,共计" + result.Count + "条" + result.PageCount + "页");
            }
        });
    }

    //查看明细
    function ChaKan(idvalue) {
        p.style.display = "block";
        o.style.display = "block";
        $.ajax({
            url: "@Url.Action("QueryMinXi")",
            data: { id: idvalue },
            dataType: "json",
            type: "get",
            success: function (result) {
                $(".chakan tr").remove();
                var str = "<tr>";
                str += "<th class='bt'>报损单号</th>";
                str += "<td>" + result.BadReportInfo.BadNum + "</td>";
                str += "<th class='bt'>类型</th>";
                str += "<td>" + result.BadReportInfo.BadTypeId + "</td>";
                str += "<th class='bt'>状态</th>";
                str += "<td>" + result.BadReportInfo.Status + "</td>";
                str += "</tr>";
                str += "<tr>";
                str += "<th class='bt'>报损数量</th>";
                str += "<td>" + result.BadReportInfo.Num + "</td>";
                str += "<th class='bt'>创建人</th>";
                str += "<td>" + result.BadReportInfo.AuditUser + "</td>";
                str += "<th class='bt'>创建时间</th>";
                str += "<td>" + result.BadReportInfo.AuditTime + "</td>";
                str += "</tr>";
                str += "<tr>";
                str += "<th>备注</th>";
                str += "<td colspan='5'>" + result.BadReportInfo.Remark + "</td>";
                str += "</tr>";
                $(".chakan tbody").append(str);

                $(".XiangXi tr:gt(0)").remove();
                $.each(result.XiangXiInfo, function (index, value) {
                    var str = "<tr>";
                    str += "<td>" + value.ProductName + "</td>";
                    str += "<td>" + value.ProductNum + "</td>";
                    str += "<td>" + value.Size + "</td>";
                    str += "<td>" + value.Location + "</td>";
                    str += "<td>" + value.Quantity + "</td>";
                    str += "</tr>";
                    $(".XiangXi tbody").append(str);
                });
            }
        });
    }
    function ChaKanGuanBi() {
        personal_1.style.display = "none";
        p.style.display = "none";
        o.style.display = "none";
    }
    //审核报损单
    function Shenhe(idvalue) {
        personal_1.style.display = "block";
        o.style.display = "block";

        $.ajax({
            url: "@Url.Action("QueryMinXi")",
            data: { id: idvalue },
            dataType: "json",
            type: "get",
            success: function (result) {
                $("#chakan tr").remove();
                var str = "<tr>";
                str += "<th class='bt'>报损单号</th>";
                str += "<td>" + result.BadReportInfo.BadNum + "</td>";
                str += "<th class='bt'>类型</th>";
                str += "<td>" + result.BadReportInfo.BadTypeId + "</td>";
                str += "<th class='bt'>状态</th>";
                str += "<td>" + result.BadReportInfo.Status + "</td>";
                str += "</tr>";
                str += "<tr>";
                str += "<th class='bt'>报损数量</th>";
                str += "<td>" + result.BadReportInfo.Num + "</td>";
                str += "<th class='bt'>创建人</th>";
                str += "<td>" + result.BadReportInfo.AuditUser + "</td>";
                str += "<th class='bt'>创建时间</th>";
                str += "<td>" + result.BadReportInfo.AuditTime + "</td>";
                str += "</tr>";
                str += "<tr>";
                str += "<th>备注</th>";
                str += "<td colspan='5'>" + result.BadReportInfo.Remark + "</td>";
                str += "<input type='hidden' name='xgztid' value='" + result.BadReportInfo.id + "' />";
                str += "</tr>";
                $("#chakan tbody").append(str);

                $("#XiangXi tbody .remove").remove();
                $.each(result.XiangXiInfo, function (index, value) {
                    var str = "<tr class='remove'>";
                    str += "<td>" + value.ProductName + "</td>";
                    str += "<td>" + value.ProductNum + "</td>";
                    str += "<td>" + value.Size + "</td>";
                    str += "<td>" + value.Location + "</td>";
                    str += "<td>" + value.Quantity + "</td>";
                    str += "</tr>";
                    $("#XiangXi tbody").append(str);
                });
            }
        });
    }
    //新增报损单
    function insertInStorage() {
        window.location.href = "@Url.Action("ListAdd")";
    }
    
    //删除出库单
    function Delete(num) {
        if (confirm("是否删除？")) {
            $.ajax({
                url: "@Url.Action("DeleteInfo")",
                data: { id: num },
                dataType: "json",
                type: "post",
                success: function (result) {
                    alert(result);
                    bindData(1);
                }
            });
        } else {
            window.event.returnValue = false;
        }
    }
</script>
