
@{
    ViewBag.Title = "UpdtList";
    Layout = "~/Views/MasterPage/Main.cshtml";
}

<head>
    <style>
        #Info {
            margin: 25px;
            background-color: white;
            border: 1px solid #c1b5b5;
            border-radius: 5px;
        }

        .ZhuTiXinZen {
            border: 1px solid #c1b5b5;
            margin: 15px 5px 15px;
            border-radius: 5px;
            padding: 10px;
        }

        .ChanPinTianJia {
            border: 1px solid #c1b5b5;
            border-radius: 5px;
            padding: 15px;
            margin: 3px;
        }

        .ChaKanBiaoTi {
            border: 1px solid #c1b5b5;
            background: #3a3939;
            padding: 5px 0px;
        }

        .XinZenChanPingDiBu {
            background-color: #d7d3d3;
            padding: 5px;
        }

        #o {
            width: 100%;
            height: 100%;
            opacity: 0.1;
            display: none;
            position: absolute;
            z-index: 1;
            background-color: gainsboro;
        }

        #p {
            display: none;
            width: 350px;
            position: absolute;
            top: 30px;
            left: 380px;
            z-index: 2;
            background: white;
            border: 1px solid #ddd;
        }
    </style>
</head>
<div class="menuBar" style="margin-bottom:15px;">
    <div style="padding-top:10px;padding-left:30px;">
        <img src="../../Image/fangzi01-copy.png" style="width:13px;height:10px;" />
        <a href="javascript:void(0);" style="margin-top:20px;">首页</a>
        <img src="~/Image/xiangyou.png" width="10" height="10" />
        <a href="#" style="margin-top:20px;">仓库作业</a>
        <img src="~/Image/xiangyou.png" width="10" height="10" />
        <a href="~/MoveReports/ListMoveReport" style="margin-top:20px;">移库管理</a>
        <img src="~/Image/xiangyou.png" width="10" height="10" />
        <a href="~/MoveReports/ListAdd" style="margin-top:20px;">新增移库</a>
    </div>
</div>

<div class="menuContent">
    <div id="Info" class="container">
        <div class="row">
            <div class="col-md-12" style="border-bottom:1px solid #c1b5b5">
                <h5 style="font-weight:bold;">新增移库单</h5>
            </div>
        </div>
        <div class="ZhuTiXinZen">
            <div class="row">
                <div class="col-md-3 form-group">
                    移库单编号
                    <input class="form-control" name="MoveNum" value="@Model.MoveNum" disabled="disabled" placeholder="自动生成" type="text" />
                </div>
                <div class="col-md-3 form-group">
                    移库类型
                    @Html.DropDownList("MoveTypeId", null, htmlAttributes: new { @class = "form-control", @style = "width:180px;" })
                </div>
                <div class="col-md-3 form-group">
                    制单人
                    <input value="@Model.AuditUser" name="AuditUser" disabled="disabled" class="form-control" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    制单时间
                    <input class="form-control" value="@Model.AuditTime" name="AuditTime" type="datetime" />
                </div>
                <div class="col-md-5 form-group">
                    备注
                    <input name="Remark" value="@Model.Remark" class="form-control" type="text" />
                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <td>产品编号</td>
                    <td>产品名称</td>
                    <td>规格</td>
                    <td>数量</td>
                    <td>当前库位</td>
                    <td>移入库位</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="row ChanPinTianJia">
            <div class="col-md-4">
                <a href="javascript:ChaKan()">
                    <span class="btn btn-primary">添加移库产品</span>
                </a>
                <button class="btn btn-primary" id="OK">提交</button>
                <button class="btn btn-default">取消</button>
            </div>
        </div>
    </div>
</div>

@*新增产品*@
<div id="o"></div>
<div id="p">
    <div class="container">
        <div class="row ChaKanBiaoTi">
            <div class="col-md-6">
                <span style="color:white">移库产品</span>
            </div>
            <div class="col-md-6 text-right">
                <a href="javascript:ChaKanGuanBi()" title="关闭"><img style="background-color:white;" src="~/Image/cha.png" /></a>
            </div>
        </div>
        <div style="margin:8px;">
            <div class="row form-inline form-group">
                <div class="col-md-12">
                    <label class="control-label">产品编码</label>&nbsp;&nbsp;
                    <input disabled="disabled" name="ProductNum" class="form-control" style="width:200px;" />
                </div>
            </div>
            <div class="row form-inline form-group">
                <div class="col-md-12">
                    <label class="control-label">产品名称</label>&nbsp;&nbsp;
                    @Html.DropDownList("Product", null, htmlAttributes: new { @class = "form-control", @style = "width:180px;" })
                </div>
            </div>
            <div class="row form-inline form-group">
                <div class="col-md-12">
                    <label class="control-label">产品规格</label>&nbsp;&nbsp;
                    <input disabled="disabled" name="Size" class="form-control" style="width:200px;" />
                </div>
            </div>
            <div class="row form-inline form-group">
                <div class="col-md-12">
                    <label class="control-label">当前库位</label>&nbsp;&nbsp;
                    <input disabled="disabled" name="LocationId" class="form-control" style="width:200px;" />
                </div>
            </div>
            <div class="row form-inline form-group">
                <div class="col-md-12">
                    <label class="control-label">移入库位</label>&nbsp;&nbsp;
                    @Html.DropDownList("Location", null, htmlAttributes: new { @class = "form-control", @style = "width:180px;" })
                </div>
            </div>
            <div class="row form-inline form-group">
                <div class="col-md-12">
                    <label class="control-label">现有库存</label>&nbsp;&nbsp;
                    <input disabled="disabled" name="StockNum" class="form-control" style="width:200px;" />
                </div>
            </div>
            <div class="row form-inline form-group">
                <div class="col-md-12">
                    <label class="control-label">移库数量</label>&nbsp;&nbsp;
                    <input type="text" name="Num" class="form-control" style="width:200px;" />
                </div>
            </div>
        </div>
        <div class="row XinZenChanPingDiBu">
            <div class="col-md-12 text-right">
                <button style="margin-top: 3px;" id="ProductAdd">确认</button>
                <button style="margin-top: 3px;" onclick="ChaKanGuanBi();">关闭</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
         //选中产品获取产品信息
        $("#Product").change(function () {
            var productId = $("#Product").val();
            $.ajax({
                url: "@Url.Action("QueryByProductId")",
                data: { Id: productId },
                type: "post",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (index, value) {
                        $("[name=ProductNum]").val(value.ProductNum);
                        $("[name=Size]").val(value.Size);
                        $("[name=LocationId]").val(value.LocationId);
                        $("[name=StockNum]").val(value.StockNum);
                    });
                }
            });
        });
        QueryXiangXi(@Model.Id);

        //添加产品到表格
        $("#ProductAdd").click(function () {
            var stockNum = parseInt($("[name=StockNum]").val());  //现有库存
            var numvalue_1 = parseInt($("[name=Num]").val());   //报损数
            if (numvalue_1 <= stockNum && numvalue_1 != 0) {
                var ProductNum = $("[name=ProductNum]").val();
                var ProductName = $("[name=Product] option:selected").text();
                var Size = $("[name=Size]").val();
                var location = $("[name=LocationId]").val();
                var movingLocation = $("[name=Location] option:selected").text();
                var numvalue = $("[name=Num]").val();
                var str = "<tr><td>" + ProductNum + "</td><td>" + ProductName + "</td><td>" + Size + "</td><td>" + numvalue + "</td><td>" + location + "</td><td>" + movingLocation + "</td><td onclick='Delete(this);'><a href='javascript:void(0);'>删除</a></td></tr >";
                $("tbody").append(str);
                //关闭弹窗
                ChaKanGuanBi();
            }
            else
            {
                alert("报损数不得大于现有库存！不能为零！");
            }
        });

        //保存
        $("#OK").click(function () {
            var MoveTypeIdvalue = $("#MoveTypeId").val();
            var Remarkvalue = $("[name=Remark]").val();
            var MoveNumvalue = $("[name=MoveNum]").val();

            //入库明细表
            var trs = document.getElementsByTagName("tr");  //获取表格所有行
            var sum = [];   //新建一个数组
            for (var i = 1; i < trs.length; i++) {
                var tds = trs[i].cells;
                var stu = {};
                stu.DetailNum = "";
                stu.BadId = "";
                stu.ProductNum = tds[0].innerHTML;
                stu.ProductName = tds[1].innerHTML;
                stu.Size = tds[2].innerHTML;
                stu.Quantity = tds[3].innerHTML;
                stu.TheCurrentLocation = tds[4].innerHTML;
                stu.MovingLocation = tds[5].innerHTML;
                stu.CreateTime = "";
                stu.IsDelete = 0;
                sum.push(stu);
            }
            if (sum.length <= 0) {
                alert("请添加产品");
            }
            else
            {
                 $.ajax({
                    url: "@Url.Action("UpdtInfo")",
                     data: { detail: sum, MoveTypeId: MoveTypeIdvalue, Remark: Remarkvalue, movSNum: MoveNumvalue},
                    type: "post",
                    dataType: "json",
                    success: function (result) {
                        alert(result);
                    }
                });
            }
        });
    });
    //查询详细信息
    function QueryXiangXi(InSNumvalue) {
        $.ajax({
            url: "@Url.Action("QueryByIdMinXiInfo")",
            data: { id: InSNumvalue },
            dataType: "json",
            type: "get",
            success: function (result) {
                $.each(result, function (index, value) {
                    var str = "<tr><td>" + value.ProductNum + "</td><td>" + value.ProductName + "</td><td>" + value.Size + "</td><td>" + value.Quantity + "</td><td>" + value.TheCurrentLocation + "</td><td>" + value.MovingLocation + "</td><td onclick='Delete(this);'><a href='javascript:void(0);'>删除</a></td></tr >";
                    $("tbody").append(str);
                });
            }
        });
    }

    function Delete(obj) {
        $(obj).parent().remove();
    }
    function ChaKan() {
        $("#p").show();
        $("#o").show();
    }

    function ChaKanGuanBi() {
        $("#p").hide();
        $("#o").hide();
    }
</script>

